{
  "trailingComma": "all",
  "endOfLine": "lf",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "overrides": [
    {
      "files": "*",
      "options": {
        "printWidth": 80
      }
    },
    {
      "files": "*.scss",
      "options": {
        "singleQuote": true
      }
    }
  ]
}